### Django ###
*.log
*.pot
*.pyc
*.zip
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/media


/static
*.cnf
.vscode
.idea
venv*

/htmlcov
.coverage
log

.pytest_cache
credentials.json

translating
gunicorn.py

*~
[#]*[#]
.\#*
.projectile

*.h5